body {
  margin: 50px 0 50px 0;
}
.home {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.home::-webkit-scrollbar {
  display: none;
}
.container-carousel {
  margin-top: 15px;
}
.populares {
  margin-top: 20px;
}


.masrecientes {
  margin-top: 20px;
}


.topshonen {
  margin-top: 20px;
}

.slick-slide {
  width: 200px !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.label_carousel{
  margin-left: 10px;
}

@media screen and (max-width: 398px) {
  .slick-track{
      height: 238px;
  } 
}  
