.home {

      width: 286px;           
      height: 570px;          
      background: #FFF;        
      border: 1px solid #000;
      overflow-y: auto;
      scroll-behavior: smooth;   
      overflow-x: hidden;
}
.home::-webkit-scrollbar {
      display: none;
    }
.container-carousel1 {
      margin-top: 48px;
    }
    .populares{
      margin-top: 20px;
    }

    .container-carousel2 {
      margin-top: 25px;
    }

    .masrecientes{
      margin-top: 20px;
    }

    .container-carousel3 {
      margin-top: 48px;
    }

    .topshonen{
      margin-top: 20px;
    }