.navbar {
    color: black;
    background: #D9D9D9;
    position: fixed;
    top: 543px;
    width: 286px;           /* Ancho de 150 píxeles */
    height: 36px;  
    
}

.container{
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.iconssearch{
    width: 30px;
    position: fixed;
    top: 12px;
    left: 258px;

}
.iconslista{
     width: 30px;
    position: fixed;
    top: 550px;
    left: 85px;
}
.iconsdescargas{
       width: 30px;
    position: fixed;
    top: 552px;
    left: 200px;

}
.iconsuser{
    width: 30px;
    position: fixed;
    top: 550px;
    left: 248px;

}
.iconshome{
    width: 30px;
    position: fixed;
    top: 550px;
    left: 143px;
}
.iconsbrowser{
    
    width: 30px;
    position: fixed;
    top: 551px;
    left: 30px;
  
}



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
  }