.navbar {
    color: black;
    background: #D9D9D9;
}

.container{
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.icons{
    width: 30px;
}
.right{
    display: flex;
    gap: 20px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
  }