.name {
    text-align: center;
  }
  .imgmanga {
    display: block;
    margin: 13px;
    max-width: 90%;
    height:150px !important;
  }
  .descripcion {
    text-align: center;
    font-size: 12px;
    margin: 15px;
  }
  