.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    input {
      background-color: hsl(0, 0%, 91%);
      border: none;
      width: 210px;
      height: 30px;
    }
  }
}

.button {
  width: 100px;
  height: 27px;
  background-color: #d9d9d9;
}
.logo {
  width: 90px;
  height: 61px;
  font-size: 14px;
}

.login {
  .iconssearch {
    display: none;
  }
}
.registrarse {
  width: 50;
  height: 61px;
  font-size: 10px;
}
