.input1{
    background-color:hsl(0, 0%, 91%) ;
    border:none;
    width: 210px; height: 30px;
    position: absolute;top: 155px;left: 44px;
}
.phone{
    width: 286px;           
  height: 570px;          
  background: #FFF;        
  border: 1px solid #000;
}
.button{
    width: 100px; height: 27px;
    background-color:#D9D9D9 ;
    position: absolute;top: 310px;left: 101px;
}
.logo{
   position: absolute;top: 5px;left: 13px;
   width: 90; height: 61px;
   font-size: 14px;
}
.contraseña{
    position: absolute;top: 205px;left: 114px;
   font-size: 13px;
}
.email{
    position: absolute;top: 124px;left: 105px;
   width: 90; height: 81px;
   font-size: 13px;
}
.input2 {   background-color:hsl(0, 0%, 91%) ;
border:none;
width: 210px; height: 30px;
position: absolute;top: 240px;left: 44px;
}

.head{
    width: 286px;           /* Ancho de 150 píxeles */
    height: 30px;          /* Alto de 150 píxeles */
    background: #D9D9D9;        /* Fondo de color rojo */
   
}
.registrarse{
    position: absolute;top: 350px;left: 122px;
   width: 50; height: 61px;
   font-size: 10px;

}